body {
  margin: 0; }

.container {
  height: 5000px;
  background-image: url("../../img/kod2.PNG");
  background-size: 60%;
  display: grid;
  grid-template-rows: 7% auto 5%;
  grid-template-columns: 25% auto 25%; }

header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-family: 'IBM Plex Mono', monospace;
  color: #e7e5ec;
  text-align: center;
  font-size: 2.2em; }

header h1 {
  margin-bottom: 0; }

header h2 {
  margin-top: 20px;
  font-size: 1.3em; }

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #e7e5ec;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 2% auto;
  grid-template-columns: repeat(1, 1fr); }

nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr); }

nav a {
  grid-row: span 1;
  grid-column: span 1;
  background-color: #aaa8af;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2em;
  transition: 0.5s; }

nav a:hover {
  background-color: #7d7c81;
  transition: 0.5s; }

nav a:visited {
  color: #e7e5ec; }

.nav1 {
  border-top-left-radius: 20px; }

.nav4 {
  border-top-right-radius: 20px; }
