<div class="title-about">
    <h1>
        Vi som har hand om klubben
    </h1>
</div>


<div class="vincent-info" id="member">
    <h1>
        Vincent "segmentation fault" Udén
    </h1>
    <img src="img/vincentshuvud.png" alt=""  class="bild-på-vincent">
    <p>Nam maximus pellentesque viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam libero velit, hendrerit vitae lacus quis, tincidunt fermentum sapien. Proin vitae velit ut dolor gravida luctus a a magna. Aenean et risus cursus augue porta fermentum. Nullam facilisis ex enim, sit amet varius purus accumsan ut. Proin vitae gravida arcu. Maecenas aliquet tellus ante, at viverra sem tincidunt varius. Nam consectetur venenatis augue, a maximus lacus hendrerit vel. Duis nec nisi vitae lorem finibus volutpat.</p>
</div>

<div class="ida-info" id="member">
    <h1>
        Ida "Tkinter är inte så hemskt" Franzén
    </h1>
    <img src="img/idas-huvud.png" class="bild-på-ida" alt="">
    <p>Donec vitae euismod odio, vel ultrices dolor. Nulla laoreet rutrum sapien, et tincidunt quam lacinia non. Pellentesque maximus felis ut mi dignissim, sit amet tincidunt purus semper. Phasellus faucibus facilisis felis, non scelerisque urna. Suspendisse mattis, risus eu efficitur accumsan, nibh purus vestibulum sem, sit amet semper neque magna eu augue. Quisque venenatis vehicula ipsum ac maximus. Praesent rutrum eros quis urna sodales, ac condimentum arcu feugiat. In quis gravida odio, egestas pharetra dui</p>

</div>
<div class="jakob-info" id="member">
    <h1>
        Jakob "I <3 2D Colliders" Ristner
    </h1>
    <img src="img/jakobshuvud.png" class="bild-på-jakob" alt="">
    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec dictum nec mi vitae efficitur. Aenean id purus hendrerit leo porttitor rhoncus tristique vel mi. Phasellus nec mauris nec tortor aliquet dignissim in eu nulla. Ut vel nisi volutpat, consequat dolor vel, tristique enim. Morbi vehicula nisi vel fringilla tincidunt. Proin non orci neque. Nam nec justo in ligula maximus malesuada elementum eget mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
</div>