body {
    margin: 0;
}

.container {
    height: 5000px;
    background-image: url('../../img/kod2.PNG');
    background-size: 60%;
    display: grid;
    grid-template-rows: 5% auto 5%;
    grid-template-columns: 25% auto 25%;
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(231, 229, 236);
    text-align: center;
    font-size: 2em;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(231, 229, 236);
    border-radius: 1em;
    display: grid;
    grid-template-rows: 2% auto;
    grid-template-columns: repeat(1, 1fr);


}

footer {

}