$white: rgb(231, 229, 236);
$grey: rgb(145, 144, 148);
$slightly_darker: rgb(125, 124, 129);
$blueish: #00BCF8;


body {
    margin: 0;
}

.container {
    height: auto;
    background-image: url('../../img/kod2.PNG');
    background-size: 50vw;
    display: grid;
    grid-template-rows: 7% auto 5%;
    grid-template-columns: 20% auto 20%;
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: 'IBM Plex Mono', monospace;
    color: $white;
    text-align: center;
    font-size: 2.2em;
}

header h1 {
    margin-bottom: 0;
}

header h2 {
    margin-top: 20px;
    font-size: 1.3em;
    color: $blueish;
}

main {
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: $white;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 10vh auto;
    grid-template-columns: repeat(1, 1fr);
}

nav {

    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
}

nav a {

    grid-row: span 1;
    grid-column: span 1;
    background-color: $grey;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2em;
    transition: 0.5s;
    color: white;
}

nav a:hover {
    background-color: $slightly_darker;
    transition: 0.5s;
    color: $blueish;
}

nav a:visited {
    // color: $white;
}

.nav1 {
    border-top-left-radius: 15px;
}

.nav4 {
    border-top-right-radius: 15px;
}

.content {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 130px 468px 500px;
    grid-template-columns: repeat(4, 1fr);
}

.content *{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'open sans', sans-serif;
    margin-left: 1.3em;
    margin-right: 1.3em;
}


.cpp img {
    width: 100px;
    height: 114px; 
    opacity: 0.8;
}

.cs img {
    width: 130px;
    height: 130px;
    opacity: 0.8;
}

.ruby img {
    width: 120px;
    height: 110px;
    opacity: 0.8;
}

.python img {
    width: 150px;
    height: 150px;
    opacity: 0.8;
}

.content1 {
    display: block;
    border-top: $blueish solid 2px;
    // border-bottom: $blueish solid 2px;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.content2 {
    display: block;
    text-align: center;
    border-top: $blueish solid 2px;
    // border-bottom: $blueish solid 2px;
    grid-column: 3 / 5;
    grid-row: 2 / 3
    
}

.klubbbild {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    margin: 0;
    width: 53.5vw;
    height: auto;
    opacity: 0.9;
}

.discord {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    width: 150px;
    height: 150px;
    margin-top: 10px;
}



.github {
    width: 130px;
    height: 130px;
    margin-top: 25px;
    margin-left: 60px;
}

.content a:hover {
    opacity: 50%;
}

nav.mobile *{
    display: none;
}

.icons {
    display: none;
}

.title {
    grid-column: 1 / 5;
    margin: 0;
    text-align: center;
}

.title > h1 {
    
    font-size: 2.5rem;
}

#login {
    grid-row: span 2;
}

ul {
    display: none;
}

.login-register {
    grid-column: span 2;
    grid-row: span 2;
    border-top: $blueish solid 2px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(8, 12.5%);
}

.login-register > input {
    grid-row: span 1;
    grid-column: 2 / 5;
    border-radius: 0.2rem;
}

.login-register h1 {
    margin-bottom: 10%;
    grid-row: span 1;
    grid-column: 1 / 5;
}

.login-register h2 {
    grid-row: span 1;
    grid-column: 1 / 2;
}

.login-register h3 {
    grid-row: 5 / 6;
    grid-column: 1 / 5;
    text-align: center;
}


.login-register a {
    margin-top: 50px;
    margin-left: 70px;
    width: 250px;
    height: 250px;
    grid-row: 6 / 7;
    grid-column: 1 / 5;
}


.title-about {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    text-align: center;
    font-size: 1.5vw;
    margin: 1vw;
}

.title-about h1 {
    margin: 0;
}

.vincent-info {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    margin-left: 25%;
    margin-right: 25%;
}

.ida-info {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.jakob-info {
    grid-row: 3 / 4;
    grid-column: 3 / 5;
}

#member {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    border: rgb(51, 51, 51) 2px solid;
    margin-bottom: 1vh;
    
}

#member h1 {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    font-size: 1.5vw;
    margin: 0;
}

#member img {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

#member p {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    font-size: 0.9vw;
}


.bild-på-vincent {
    width: 10vw;
    height: 10vw;
    margin: 0;
    
}

.bild-på-jakob {
    width: 10vw;
    height: 10vw;
    margin: 0;
}

.bild-på-ida {
    width: 10vw;
    height: 10vw;
    margin: 0;
    margin-left: 2vw;
}




@media only screen and (max-device-width: 799px) {
    .container {
        height: auto;
        grid-template-rows: 50px 200px auto;
        grid-template-columns: auto;
        background-size: 100vw;
    }
    nav.mobile *{
        display: block;
    }

    ul {
        display: block;
        list-style-type: none;
    }

    li {
        margin-top: 2vh;
    }

    .menu-items a{
        font-family: 'IBM Plex Mono', monospace;
        text-decoration: none;
        font-size: 1.3rem;
        color: $white;
    }

    .menu-items a:visited {
        font-family: 'IBM Plex Mono', monospace;
        text-decoration: none;
        color: $white;
    }

    .title {
        text-align: center;
    }

    .icons {
        display: block;
    }

    .discord {
        display: none;
    }

    .github {
        display: none;
    }

    nav.mobile {
        grid-column: 2 / 3;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    
    main {
        margin: 0;
        height: auto;
        width: 100vw;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        border-radius: 0;
        background-color: $white;
        display: grid;
        grid-template-rows: 200vh;
        grid-template-columns: repeat(1, 1fr);
    }

    header {
        margin-top: 30px;
        font-size: 4vw;
        grid-column: 2 / 3;
    }

    .content {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        display: grid;
        grid-template-rows: repeat(8, 25vh);
        grid-template-columns: repeat(4, 25vw);
    }

    nav {
        display: none;
    }
    .icon {
        grid-row: 1/2;
        grid-column: 1/2;
        position: relative;
        top: 2vh;
        left: 1vw;
    }
    .fade-layer{
        display: none;
        background-color: black;
        width: 100vw;
        height: 100vh;
        position: fixed;
        opacity: 50;
        z-index: 11;
    }

    .fade {
        display: block;
        opacity: 0.5;
        transition: ease-out 1s;
        z-index: 11;
    }

    .menu{
        width: 50vw;
        height: 100vh;
        position: absolute;
        background: rgb(51, 51, 51);
        display: block;
        transform: translateX(-100%);
        text-align: left;
        transition: transform ease-out 0.5s;
        z-index: 11;
    }

    .show {
        display: block;
        transition: transform ease-out 0.5s;
        position: absolute;
        transform: translateX(0%);
    }

    .content  > img {
        display: none;
    }

    #code-icon {
        display: none;
    }

    .content1 {
        grid-column: 1 / 5;
        grid-row: 1 / 4;
    }

    .content2 {
        grid-column: 1 / 5;
        grid-row: 5 / 9;
    }

    .content * {
        font-size: 1rem;
    }

    .content h1 {
        font-size: 1.5rem;
    }

    #login p{
        font-size: 1.78vh;
        margin: 10px;
    }

    .login-register {
        grid-row: 6 / 9;
        grid-column: 1 / 5;
    }

    .vincent {
        display: block;

    }

    .login-register a {
        width: 25vh;
        height: 25vh;
        margin-top: 20vh;
        margin-left: 20vw;
    }

    .title-about {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
        text-align: center;
        font-size: 7vw;
        margin: 1vw;
    }

    .title-about h1 {
        margin: 0;
    }

    .vincent-info {
        grid-row: 2 / 4;
        grid-column: 1 / 5;

    }

    .ida-info {
        grid-row: 4 / 6;
        grid-column: 1 / 5;
    }

    .jakob-info {
        grid-row: 6 / 8;
        grid-column: 1 / 5;
    }

    #member {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: repeat(4, 25%);
        text-align: center;
        border: rgb(51, 51, 51) 2px solid;
        margin: 2vh;
        
    }

    #member h1 {
        grid-row: 1 / 2;
        grid-column: 3 / 5;
        font-size: 5vw;
        margin: 0;
    }

    #member img {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    #member p {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        font-size: 3vw;
    }


    .bild-på-vincent {
        width: 40vw;
        height: 40vw;
        margin: 0;
        
    }

    .bild-på-jakob {
        width: 40vw;
        height: 40vw;
        margin: 0;
    }

    .bild-på-ida {
        width: 40vw;
        height: 40vw;
        margin: 0;
        margin-left: 2vw;
    }
}


